<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <h1>Criar Post</h1>
    <form action="/<%=@user.name%>/create" method="post">
        <label>Título:</label>
        <input type="text" name="title" required>
        <label>Descrição:</label>
        <textarea name="content"></textarea>
        <button type="submit">Publicar</button>
    </form>
</body>
</html>