<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar</h1>
    <form action="/<%=@user.name%>/edit/<%=@post.id%>" method="post">
        <label>Título:</label>
        <input type="text" name="title" value="<%=@post.title%>" required>
        <label>Descrição:</label>
        <textarea name="content"><%=@post.content%></textarea>
        <button type="submit">Publicar</button>
    </form>
</body>
</html>